.header-container {
    height: 15rem;
}

.header {
    font-family: marvel;
    font-size: 15rem;
    font-weight: 100;
    letter-spacing: -.1rem;
    text-align: center;
    color: white;
    margin: 0;
}

.sub-header {
    position: absolute;
    left: 59%;
    top: 3.6rem;
    font-family: comic-book;
    font-size: 2rem;
    transform: rotate(-25deg);
}

.sub-header2 {
    position: absolute;
    left: 4rem;
    display: block;
}